@import "tailwindcss";

@layer components {
  .rating-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 9999px;
    background: oklch(69.6% .17 162.48);
    border: 2px solid #ffffff;
  }

  .rating-range::-moz-range-thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 9999px;
    background: oklch(69.6% .17 162.48);
    border: 2px solid #ffffff;
  }
}
