<p><%= t("devise.views.mailer.confirmation_instructions.greeting", email: @email) %></p>

<p><%= t("devise.views.mailer.confirmation_instructions.body") %></p>

<p><%= link_to t("devise.views.mailer.confirmation_instructions.cta"), user_confirmation_url(confirmation_token: @token) %></p>
