<p><%= @email %> さん</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスを <%= @resource.unconfirmed_email %> に変更する手続きを受け付けました。</p>
<% else %>
  <p>メールアドレスを <%= @resource.email %> に変更しました。</p>
<% end %>
