<p><%= t("devise.views.mailer.reset_password_instructions.body") %></p>

<p><%= link_to t("devise.views.mailer.reset_password_instructions.cta"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("devise.views.mailer.reset_password_instructions.note") %></p>
